body{
    font-family: sans-serif;
    width: 50%;
    margin: auto;
}


#addHabit{
    display: flex;
    justify-content: baseline;


}

#addChanges {
 width: 100%;

}

#addChanges button{
  width: 100%;
background-color: greenyellow;
/* color: aliceblue; */
font-weight: bold;
font-size: large;
padding: 10px;
border: 0;
cursor: pointer;
box-shadow: 0 0 4px 2px black;
}




h1{
    text-align: center;
    background-image: linear-gradient(greenyellow,white);
    padding: 20px;
    margin: 0;
}

#newHabitLabel{

    font-weight: bold; 
    font-size: large; 
    background-color:dodgerblue; 
    color: white; 
    margin-bottom: 5px;
    padding: 5px;
}



#addHabit button{
    
   height: 42px;  
   margin-left: auto;
   width: 50px;
   border: 0;
   background-color: greenyellow;
   cursor: pointer;
   box-shadow: 0 0 4px 2px black;


 }
input{
    width: 100%;
    height: 40px;
    background-color:yellowgreen;
    border: 0;
    color: white;
    font-weight: bold;
    font-size:large ;
    border: none;
    outline: none;
   box-shadow: inset 0 0 10px 2px gray;
}

ul {
    margin: auto;
    list-style: none;
    padding-inline-start: 0;
}

li {
    
    background-color:black;
    color: white;
    padding: 5px;
    margin-top: 2px;


}

 li:nth-child(2n){
background-color:gray;
}

li div{
  
    width: 30%;
    display: inline-block;
    font-weight: bolder;
    font-size: large;

}


.item{
    text-align: center;
     color: white;
padding-left: 2px;
padding-right: 2px;

     
}

.fa-check{
    color: greenyellow;
}

.fa-times{
    color: red;
}


i{
    cursor: pointer;
}